<ul class="nav flex-column">
  <% @conferences.each do |conf| %>
  <li class="nav-item">
    <a class="nav-link active" href="#" style="text-decoration: underline;"><%= conf.name %></a>
  </li>
  <% end %>
</ul>
