<ul class="nav flex-column">
  <% @conferences.each do |conf| %>
  <li class="nav-item">
    <% class_names = ["nav-link", "btn", "mt-2"] %>
    <% params["conf"] == conf.name ? class_names <<  ["active", "btn-primary"] : class_names << ["btn-secondary"] %>

    <%= link_to conf.name, admin.conference_hotels_path(conf) , class: class_names.join(" ") %>
  </li>
  <% end %>
</ul>
